<!DOCTYPE html>
<html lang="kor">

    <head>
        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>    
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
            
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
                
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
            
    <body>
        <div class="container">
        <h1>여기다 글자를 치시면 됩니다!</h1>
            
        <a href="{%url 'about'%}">ABOUT</a>
        <br>
        <form action="{%url 'result' %}">
            <textarea cols="40" rows="10" name="fulltext"></textarea>
            <br>
            <input type="submit" value="Count!">
            <input type="submit" class="btn btn-primary" value="Count!">
        </form>
        </div>
    </body>

</html>
